body {
  margin: 0;
}

.topnav {
  display: flex;
  justify-content: center;

  overflow: hidden;
  background-color: #34495E;
}
.btn {
  overflow: hidden;
  background-color: #e61c66;
}

.topnav a {
  color: #ffF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #517294;
}

.topnav a.active {
  background-color: #e61c66;
  color: white;
  
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}
