body {
	margin-top: 0px;
    margin-left: 0px;
	font-family: 'Open Sans', sans-serif;
		background-color: rgba(252, 239, 121, 0.829);
	
}


ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f8b73d;
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
 

  li a {

	display: block;
	color: #000;
	padding: 20px 30px;
	text-decoration: none;
  }

  /* Change the link color on hover */
  li a:hover {
	background-color: #555;
	color: white;
  }

  li {
	display: inline;
  }
