
.row{
    padding: 20px;
}

.row,
.row > .column
{
    padding: 10px;
}

.column{
    float: left;
    width: 25%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.row a{
    text-decoration: none;
    color: white;
}

.content{
    background-color: #424242;
    padding: 20px;
    height: 600px;
}

h1{
    font-size: 20px;
    padding: 5px;
    letter-spacing: 3px;
    height: 70px;
}
h2{
    font-size: 15px;
    padding: 5px;
    font-weight: lighter;
    font-style: italic;
    margin: 5px;
    line-height: 30px;
    }

h3{
    font-size: 15px;
    padding: 5px;
    font-weight: lighter;
}


.rate{
    font-size: 15   px;
    padding: 5px;
    font-weight: lighter;
}

/* Rate */

.rate {
    display:flex;
    flex-direction:row-reverse;
    font-size: 15px;
    letter-spacing: 3px;  
    margin: -40px 90px;
}

.rate:checked {
    padding: 0 10px;
}


.rate > input{
    display: none;    
} 

.rate > input ~ label {
    position:static;
    color:#fff;
}

.rate > input:checked ~ label {
    color: #eb0165; 

}

.rate > input:hover ~ label {
    color: #eb0165;      
}




/* Mobile  */

@media only screen and (max-width: 900px){
    .column
    {
        width: 50%;
    }

    .content{
         height: 700px;
    }
    
}

@media only screen and (max-width: 700px){
    .column
    {
        width: 100%;
    }
    .content{
        height: 1000px;
   }

}   